body {
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	background-color: #E9EAED;
}

#kanban {
	margin: 0 auto;
	width: 90%;
	background-color: white;
	border: 1px solid rgb(165, 163, 163);
	border-radius: 10px;
	box-shadow: #999 10px 10px 25px;
	padding: 5px 10px;
}

#kanban > h2 {
	width: 100%;
	text-align: center;
}

#kanban > div {
	display: flex;
	flex-direction: row;
}

.category {
	border: 1px solid #666;
	border-radius: 10px;
	margin: 0 5px;
	background-color: #C9E8E8;
	padding: 10px;
	flex: 1;
}

.category h2 {
	text-align: center;
	font-size: 22px;
	font-variant: small-caps;
}

.category .edit-icon {
	float: right;
    margin-top: 20px;
}

.task {
	padding: 5px;
	margin: 5px;
	border: 1px solid #ccc;
	background-color: white;
}

.clearFloat {
	clear: both;
}